html{height: 100%;}

body
{ background: #FFFFFF url(back_2.png) repeat-x;
  color: #3E4244;
}

blockquote
{ background-color: #F1F4F5;
  color: #3E4244;
  border-color: #D4DBDE;
}

#links, #links a
{ background-color: transparent;
  color: #3E4244;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #8D9299 url(logo_2.jpg) no-repeat;
  color: #3E4244;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #content2, #column1, #column2
{ background-color: #FFFFFF;
  color: #3E4244;
} 

#column2 h1
{ background: transparent;
  color: #3E4244;
  border-color: #F1F4F5;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_2.png) repeat-x;
  color: #3E4244;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #3E4244;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #8D9299; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #2780F9;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #F1F4F5;
  color: #3E4244;
}

#footer, #footer a
{ background-color: #8D9299;
  color: #3E4244;
}

#footer a:hover
{ background: #8D9299;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #3E4244;
  border-color: #616D7B;
}
