<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title><TMPL_VAR NAME="MAIN_TITLE"></title>
    <TMPL_VAR NAME="CHARSET">
      <meta http-equiv="Pragma" content="no-cache"> 
      <meta http-equiv="Content-Style-Type" content="text/css" />
      <link rel="stylesheet" type="text/css" href="tmpl/dcarter104/pman.css" />
  </head>
  <body>
    <div id="main">
      <div id="links">
        <TMPL_VAR NAME="TOPMENU">
      </div>

      <div id="logo">
	<a class="logoimg" href="http://se.is.kit.ac.jp/~o-mizuno/pman3.html"><img class="logo" src="img/logo.png" /></a>
        <h1><TMPL_VAR NAME="PAGE_TITLE"></h1>
      </div>
      
      <div id="content">
	<div id="column1">

          <div id="menu">
            <TMPL_VAR NAME="VIEWMENU">
          </div>

	  <div class="sidebaritemshort">
            <TMPL_VAR NAME="MESSAGEMENU">
	  </div>
	  
	  <div class="sidebaritemlong">
            <TMPL_VAR NAME="SEARCHMENU">
	  </div>
	  
	  <div class="sidebaritem">
            <TMPL_VAR NAME="TAGMENU">
	  </div>
	  

	</div>
        <div id="column2">
          <TMPL_VAR NAME="CONTENTS">
        </div>
      </div>

      <div id="footer">
        <TMPL_VAR NAME="FOOTER">
	  <a href="http://www.dcarter.co.uk">design by dcarter</a>
      </div>
    </div>
  </body>
</html>
