/* global */
html{height: 100%;}

body
{ font-family: verdana, arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .74em;
}

p
{ margin: 0px;
  padding: 0px 0px 24px 0px;
  line-height: 20px;
}

h1
{ margin: 0px;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 176%; 
  font-weight: normal;
}

h2
{ margin: 0px;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 143%; 
  font-weight: normal;
}

img{border: 0px;}

a, a:link, a:visited, a:hover {
    color: #3E4244;
    text-decoration:none;
}


/* image positioning - left, right and center */
.left
{ float: left; 
  padding: 0px 8px 0px 0px;
}

.right
{ float: right; 
  padding: 0px 0px 0px 8px;
}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;
}

/* block quote */
blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* unordered list */
ul
{ margin: 8px 0px 0px 14px;
  padding: 0px;
}

ul li
{ list-style-type: square;
  margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* main container */
#main
{ width: 761px;
  margin-left: auto; 
  margin-right: auto;
}

/* links above the logo */
#links
{ padding: 9px 0px 3px 19px;
  width: 742px;
  text-align: right;
  height: 22px;
}

#links a, #links a:hover{text-decoration: none;}

/* logo */
#logo
{ padding: 0px;
  width: 759px;
  height: 100px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

#logo h1
{ padding: 38px 0px 0px 19px;
  font-family: verdana, arial, sans-serif;
  font-size: 150%;
  font-weight: normal;
  letter-spacing: .3em;
}

.logoimg {
    float: right;
    position: relative;
}

/* column 1 - contains menu, news, add links and other info */
#column1 
{ width: 243px;
  float: left;
  padding: 15px 0px 15px 14px;
}

#column1 h1{padding: 0px 0px 18px 0px;}

#menu, #addlinks, #past
{ position: relative;
  width: 216px;
  float: left;
  margin: 0px 0px 15px 0px;
  padding: 8px 0px 0px 0px;
  height: 143px;
}

#menu ul, #addlinks ul, #past ul
{ margin: 0px auto; 
  padding: 0px; 
  list-style: none; 
  text-align: left; 
  width: 216px;
} 

#menu li, #addlinks li, #past li
{ margin: 0px; 
  list-style: none; 
  float: left; 
} 

#menu li a, #addlinks li a, #past li a 
{ float: left; 
  height: 14px;
  text-decoration: none; 
  padding: 3px 10px 4px 12px;
  width: 194px;
  border-bottom: 1px solid;
} 

#menu h1, #addlinks h1, #past h1{padding: 0px 0px 14px 12px;}

.sidebaritem
{ position: relative;
  text-align: justify;
  margin: 0px 0px 15px 0px;
  padding: 8px 14px 11px 12px;
  width: 190px;
  float: left;
  min-height: 25px;
}

.sidebaritem[id]{height: auto;}

/* column 2 - page content */
#column2
{ text-align: justify;
  padding: 0px 22px 15px 0px;
  width: 482px;
  float: right;
}

#column3
{ text-align: justify;
  padding: 0px 22px 15px 0px;
  width: 739px;
  float: right;
}

#column2 h1
{ padding: 0px 0px 6px 0px; 
  margin: 24px 0px 12px 0px; 
  border-bottom: 2px solid;
}

.sidebaritem a, #column2 a, #column2 a:link, #column2 a:visited, .sidebaritem a:hover, #column2 a:hover
{ padding: 0px;
  text-decoration: none;
  color: #3E4244;
}

/* footer */
#footer
{ float: left;
  padding: 9px 0px 3px 0px;
  width: 761px;
  text-align: center;
}

#footer a, #footer a:hover{text-decoration: none;}

/* contact page - form layout */
form{margin-top: 0px;}

div.row
{ clear: both;
  width: 448px;
}

div.row span.formlabel 
{ float: left;
  width: 150px;
  text-align: left;
}

div.row span.forminput
{ float: right;
  text-align: right;
} 

div.spacer
{ clear: both;
  width: 80px;
}

input, textarea
{ 
  font-family: verdana, arial, sans-serif;
  font-size: 100%;
  border: 1px solid;
  margin: 2px;
}

.submit
{ font-family: verdana, arial, sans-serif;
  font-size: 100%; 
  border: 1px solid;
  width: 70px;
  height: 22px;
  cursor: pointer;
}

dd {
    text-indent: -2em; 
    text-align:justify;
    margin:0 0px 5px 25px;
}


.timestamp {font-size:0.8em; color:#606060; margin:-12px 0 12px 0;}
.newsbody  {font-size:0.9em; margin:-4px 0 12px 0;}

body
{ background: #FFFFFF url(back_2.png) repeat-x;
  color: #3E4244;
}

blockquote
{ background-color: #F1F4F5;
  color: #3E4244;
  border-color: #D4DBDE;
}

#links, #links a
{ background-color: transparent;
  color: #3E4244;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #8D9299 url(back_1.png) repeat-y;
  color: #3E4244;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #content2, #column1, #column2, #column3
{ background-color: #FFFFFF;
  color: #3E4244;
} 

#column2 h1
{ background: transparent;
  color: #3E4244;
  border-color: #F1F4F5;
}

#menu, #addlinks, .sidebaritem, .sidebaritemlong, .sidebaritemshort 
{ background: #FFFFFF url(box_2.png) repeat-x;
  color: #3E4244;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #3E4244;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #8D9299; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a, .sidebaritemlong a, .sidebaritemshort a 
{ background-color: transparent;
  color: #2780F9;
}

.sidebaritem a:hover, #column2 a:hover, .sidebaritemlong a:hover, .sidebaritemshort a:hover 
{ background-color: #F1F4F5;
  color: #3E4244;
}

#footer, #footer a
{ background-color: #8D9299;
  color: #3E4244;
}

#footer a:hover
{ background: #8D9299;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #3E4244;
  border-color: #616D7B;
}

/* Additional classes */
.fieldHead_N {
    background-color: #d8a0a0;
}
.fieldHead_A {
    background-color: #d8d8a0;
}
.fieldHead_O {
    background-color: #ffffff;
}
.fieldHead {
    background-color: #ffffff;
}

.yearhead {
    font-size:1.6em; 
    font-weight:400; 
    margin:20px 0 12px 0; 
    padding: 5px 0 0 0; 
    width:100%; 
    border-top: 1px solid #303030;
}
.right {
    margin:-8px 0 8px 0; 
    text-align:right;
}
.block {
    background:#f0f0f0; 
    padding:10px;
}
.hide {
    display:none;
}
.red, .red a:link, .red a:visited, .red a:hover {
    color: red;
}
.tableview {
    font-size: 0.75em;
}
.pth {
    background-color: #f0f0f0;
}
.ptd {
    border-right: 1px solid #f0f0f0;
}
