/* global */
html{height: 100%;}

body
{ font-family: verdana, arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .74em;
}

p
{ margin: 0px;
  padding: 0px 0px 24px 0px;
  line-height: 20px;
}

h1
{ margin: 0px;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 176%; 
  font-weight: normal;
}

h2
{ margin: 0px;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 143%; 
  font-weight: normal;
}

img{border: 0px;}

/* image positioning - left, right and center */
.left
{ float: left; 
  padding: 0px 8px 0px 0px;
}

.right
{ float: right; 
  padding: 0px 0px 0px 8px;
}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;
}

/* block quote */
blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* unordered list */
ul
{ margin: 8px 0px 0px 14px;
  padding: 0px;
}

ul li
{ list-style-type: square;
  margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* main container */
#main
{ width: 761px;
  margin-left: auto; 
  margin-right: auto;
}

/* links above the logo */
#links
{ padding: 9px 0px 3px 19px;
  width: 742px;
  text-align: right;
  height: 22px;
}

#links a, #links a:hover{text-decoration: none;}

/* logo */
#logo
{ padding: 0px;
  width: 759px;
  height: 100px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

#logo h1
{ padding: 38px 0px 0px 19px;
  font-family: verdana, arial, sans-serif;
  font-size: 150%;
  font-weight: normal;
  letter-spacing: .3em;
}

/* main content */
#content
{ width: 761px;
  height: auto;
  padding: 0px;
  text-align: justify;
  overflow: hidden;
} 

#content2
{ width: 961px;
  height: auto;
  padding: 0px;
  text-align: justify;
} 

/* column 1 - contains menu, news, add links and other info */
#column1
{ width: 243px;
  float: left;
  padding: 15px 0px 15px 14px;
}

#column1 h1{padding: 0px 0px 18px 0px;}

#menu, #addlinks, #past
{ position: relative;
  width: 216px;
  float: left;
  margin: 0px 0px 15px 0px;
  padding: 8px 0px 0px 0px;
  height: 143px;
}

#menu ul, #addlinks ul, #past ul
{ margin: 0px auto; 
  padding: 0px; 
  list-style: none; 
  text-align: left; 
  width: 216px;
} 

#menu li, #addlinks li, #past li
{ margin: 0px; 
  list-style: none; 
  float: left; 
} 

#menu li a, #addlinks li a, #past li a 
{ float: left; 
  height: 14px;
  text-decoration: none; 
  padding: 3px 10px 4px 12px;
  width: 194px;
  border-bottom: 1px solid;
} 

#menu h1, #addlinks h1, #past h1{padding: 0px 0px 14px 12px;}

.sidebaritem
{ position: relative;
  text-align: justify;
  margin: 0px 0px 15px 0px;
  padding: 8px 14px 11px 12px;
  width: 190px;
  float: left;
  height: 244px;
  min-height: 122px;
}

.sidebaritem[id]{height: auto;}

/* column 2 - page content */
#column2
{ text-align: justify;
  padding: 0px 22px 15px 0px;
  width: 482px;
  float: right;
}

#column2 h1
{ padding: 0px 0px 6px 0px; 
  margin: 24px 0px 12px 0px; 
  border-bottom: 2px solid;
}

.sidebaritem a, #column2 a, .sidebaritem a:hover, #column2 a:hover
{ padding: 0px;
  text-decoration: none;
}

/* footer */
#footer
{ float: left;
  padding: 9px 0px 3px 0px;
  width: 761px;
  text-align: center;
  height: 22px;
}

#footer a, #footer a:hover{text-decoration: none;}

/* contact page - form layout */
form{margin-top: 0px;}

div.row
{ clear: both;
  width: 448px;
}

div.row span.formlabel 
{ float: left;
  width: 150px;
  text-align: left;
}

div.row span.forminput
{ float: right;
  text-align: right;
} 

div.spacer
{ clear: both;
  width: 80px;
}

input, textarea
{ 
  font-family: verdana, arial, sans-serif;
  font-size: 100%;
  border: 1px solid;
  margin: 2px;
}

.submit
{ font-family: verdana, arial, sans-serif;
  font-size: 100%; 
  border: 1px solid;
  width: 70px;
  height: 22px;
  cursor: pointer;
}

.timestamp {font-size:0.8em; color:#606060; margin:-12px 0 12px 0;}
.newsbody  {font-size:0.9em; margin:-4px 0 12px 0;}
