body {
    background:#f0f0f0; 
    color:#101010; 
    font-size:90%;
    margin:0 0 0 0; 
    padding:15px 15px 15px 15px;
}
#container {
    width: 800px;
    margin: 0 auto 0 auto;
}

#topmenu {
    margin: 0px auto 0px auto;
    padding:0 10px 0 0;
    background:#f0f0f0; 
    text-align: right;
    font-size: 0.9em;
    width:796px;
}

.toptab, .toptab:link, .toptab:visited {
    display: inline;
    font-weight: bold;
    color: #e0e0e0;
    background: #e0e0e0 url(img/gradientv.png) bottom left repeat-x;
    border: 1px solid #a0a0a0;
    margin: 0px 0px 0px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    vertical-align: text-bottom;
    text-decoration:none;
}

.toptab:hover {
    display: inline;
    font-weight: bold;
    color: #e0e0e0;
    background: #505050;
    border: 1px solid #a0a0a0;
    margin: 0px 0px 0px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    vertical-align: text-bottom;
    text-decoration:none;
}

.activetoptab, .activetoptab:link, .activetoptab:visited, .activetoptab:hover {
    display: inline;
    font-weight: bold;
    color: #ffffff;
    background: #505050;
    border: 1px solid #a0a0a0;
    margin: 0px 0px 0px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    vertical-align: text-bottom;
    text-decoration:none;
}

#header {
/*    background:#e0e0e0; */
    background: #e0e0e0 url(img/gradientv.png) bottom left repeat-x;
    color: #f0f0f0;
    border: 1px solid #a0a0a0 ;
    margin: 0px 1px 0px 1px;
    padding:5px 5px 5px 15px;
}

.logo {
    float: right;
    position: relative;
}

#searchmenu {
    float:left;
    color: #f0f0f0;
    background: #c7c7c7 url(img/gradientv.png) bottom left repeat-x;
    border: 1px solid #a0a0a0 ;
    border-top: none;
    margin: 0px 1px 0px 1px;
    padding:5px 5px 5px 5px;
    width: 786px;
}

#searchmenu a,#searchmenu a:visited {
    color: #ffffff;
    text-decoration: none;
}
#searchmenu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#searchmenu p {
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}
#smenu {
    float: left;
    border: 1px none black;
    padding: 2px 2px 2px 2px;
}
#smenu input {
    font-size: 0.9em;
}
#smenu select {
    font-size: 0.9em;
}

#viewmenu {
    font-size: 1.2em;
    font-weight: bold;
    float:left;
    border: 1px solid #f0f0f0 ;
    margin: 1px 1px 1px 1px;
    padding:5px 5px 5px 5px;
    background:#f0f0f0; 
    width: 786px;
    text-align:center;
}

#viewmenu ul {
    list-style:none; 
    margin-top: 0px; 
    padding-left: 0px; 
}
ul.view li {
    list-style:none; 
    margin:1px 0px 1px 0; 
    float: left;
    padding:0px 0 0 0;
}

ul.view li a, ul.view li a:link, ul.view li a:visited {
    float: left;
    display:block; 
    color: #303030;
    background: #e0e0e0 url(img/gradientv.png) top left repeat-x;
    border: 1px solid #a0a0a0 ;
    margin: 1px -1px 1px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    text-decoration:none;
    width: 60px;
}

ul.view li a:hover {
    float: left;
    display:block; 
    color: #303030;
    background: #efefef;
    border: 1px solid #a0a0a0 ;
    margin: 1px -1px 1px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    text-decoration:none;
    width: 60px;
}

#contents {
    float:left;
    border: 1px solid #a0a0a0 ;
    margin: 1px 1px 0px 1px;
    padding:20px 15px 20px 15px;
    background: #c7c7c7;/* url(img/gradienth.png) top right repeat-y;*/
    width: 766px;
}


#footer{
    color: #ffffff;
    clear: both;
    border: 1px solid #a0a0a0 ;
    border-top: none;
    margin: 0px 1px 1px 1px;
    padding:5px 5px 5px 5px;
    background: #e0e0e0 url(img/gradientv.png) bottom left repeat-x;
    text-align:center;
    font-size:0.8em;
}

#footer a,#footer a:visited,#footer a:hover {
    color: #ffffff;
}

#contents div.opt {
    text-align: right;
    font-size: 0.9em;
    vertical-align: middle;
}

#contents div.opt input{
    font-size: 0.9em;
    vertical-align: middle;
}

#contents div.opt label:hover{
    background-color: #f0f0f0;
}


#contents td {
    border-bottom: 1px solid #a0a0a0; 
}
#contents dd {
    text-indent: -2em; 
    margin:0 0px 5px 45px;
}
#contents dt {
    font-weight: bold;
    font-size: 1.2em;
    margin:10px 0px 10px 0px;
}

#contents dl.bibent dd {
    text-indent: 0em; 
    margin:0 0px 1px 25px;    
}

#contents dl.bibent dt {
    font-weight: normal;
    font-size: 1.0em;
    text-indent: 0em; 
    margin:5px 0px 5px 0px;    
}

a, a:visited, a:hover {
    color: inherit;
    color: expression(this.parentNode.currentStyle.color); /* IE */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

img.math {
}

.right {
    text-align:right;
}
.hide {
    display:none;
}
.tableview {
    font-size: 0.8em;
}
.pth {
    background-color: #f0f0f0;
}
.ptd {
    border-right: 1px solid #f0f0f0;
}
.shortinput {
    width: 50px;
}
.longinput {
    width: 120px;
}
.small {
    font-size:0.7em;
}
.red, .red a:link, .red a:visited, .red a:hover {
    color: red;
}