.fieldHead_N {
    background-color: #d8a0a0;
}
.fieldHead_A {
    background-color: #d8d8a0;
}
.fieldHead_O {
    background-color: #e0e0e0;
}
.fieldHead {
    background-color: #e0e0e0;
}

.l_title {
    font-weight: bold;
}

.toptab, .toptab:link, .toptab:visited {
    display: inline;
    font-weight: bold;
    color: #e0e0e0;
    background: #e0e0e0 url(img/gradientv.png) bottom left repeat-x;
    border: 1px solid #a0a0a0;
    margin: 0px 0px 0px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    vertical-align: text-bottom;
    text-decoration:none;
}

.toptab:hover {
    display: inline;
    font-weight: bold;
    color: #e0e0e0;
    background: #505050;
    border: 1px solid #a0a0a0;
    margin: 0px 0px 0px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    vertical-align: text-bottom;
    text-decoration:none;
}

.activetoptab, .activetoptab:link, .activetoptab:visited, .activetoptab:hover {
    display: inline;
    font-weight: bold;
    color: #ffffff;
    background: #505050;
    border: 1px solid #a0a0a0;
    margin: 0px 0px 0px 0px; 
    padding:4px 8px 4px 8px; 
    text-align:center; 
    vertical-align: text-bottom;
    text-decoration:none;
}

.logo {
    float: right;
    position: relative;
}

a, a:visited, a:hover {
    color: inherit;
    color: expression(this.parentNode.currentStyle.color); /* IE */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

img.math {
}

.right {
    text-align:right;
}
.hide {
    display:none;
}
.tableview {
    font-size: 0.8em;
}
.pth {
    background-color: #f0f0f0;
}
.ptd {
    border-right: 1px solid #f0f0f0;
}
.shortinput {
    width: 50px;
}
.longinput {
    width: 120px;
}
.small {
    font-size:0.7em;
}
.red, .red a:link, .red a:visited, .red a:hover {
    color: red;
}

pre {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.bibent {
    width: 100%;
}
