<!DOCTYPE html>
<html lang="ja">
<head>
  <TMPL_VAR NAME="CHARSET">
<!-- <meta charset='UTF-8' /> -->
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
<title>Error</title>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='enlightenment-web-fonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,italic,600,700&#038;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-min-css'  href='https://se.is.kit.ac.jp/~o-mizuno/wp/wp-content/themes/enlightenment/core/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='enlightenment-theme-stylesheet-css'  href='https://se.is.kit.ac.jp/~o-mizuno/wp/wp-content/themes/enlightenment/style.css' type='text/css' media='all' />
<link rel="stylesheet" type="text/css" href="tmpl/enlightenment/pman.css" />
<style id='enlightenment-theme-stylesheet-inline-css' type='text/css'>
.entry-title {
	font-style: normal;
	font-weight: 300;
}
.entry-teaser .entry-title {
	font-style: normal;
	font-weight: 300;
}
.single .entry-title, .page .entry-title {
	font-style: normal;
	font-weight: 300;
}
.custom-sidebar-4 {
}
.custom-sidebar-5 {
}
.custom-sidebar-6 {
}
.custom-sidebar-7 {
}
.custom-sidebar-8 {
}
#topmenu {
display:block;
margin: 10px auto -25px;
}
#topmenu p {
text-align: right;
}
</style>
</head>

<body class="single design-full-screen navbar-large-offset custom-header custom-header-image layout-content-sidebar"  data-spy="scroll" data-target=".subnav" data-offset="100">
  <div id="page" class="site">
    <header id="masthead"  class="site-header navbar-large navbar navbar-static-top navbar-default"  role="banner">
    <div class="container">
    <div id="topmenu">

<TMPL_VAR NAME="TOPMENU">
      
    </div>
	<div class="branding navbar-header">
	  <a class="navbar-brand" href="#" rel="home">
	    <span class="site-title-text">Error
	      </span>
	  </a>
	</div>
	<nav id="site-navigation" class="menu-container navbar-collapse collapse">
        <div id="viewmenu">
            <TMPL_VAR NAME="VIEWMENU">
        </div>

	</nav>
      </div>
    </header>
    <div id="content" class="site-content">
      <div class="container">
	<div class="content-sidebar-wrapper">
	  <div class="row">
	    <main id="primary"  class="content-area hfeed col-md-9">
	      <div class="content-wrapper">
		<article class="hentry" >
		  <header class="entry-header">
Error
		    <div class="entry-meta">




 </div>
</header>
<div class="entry-content" itemprop="text">

  <TMPL_VAR NAME="CONTENTS">

</article>
</div>
								</main>
			<div id="secondary"  class="widget-area sidebar sidebar-primary col-md-3 custom-sidebar custom-sidebar-1">

  
			</div>
	    </div>
	  </div>
	</div>
      </div>
      <footer id="colophon"  class="site-footer">
	<div class="container">
	  <div class="copyright">
            <TMPL_VAR NAME="FOOTER">
</div>
<div class="credits">
</div>
</div>
		</footer>
			</div>
</body>
</html>
