/*
Original design: andreas01 (v3.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas01/
*/
/* Main body */
body {
    background:#f4f4f4 url(img/bg.gif) top center repeat-y;
    color:#404040; 
    font:85% "ヒラギノ明朝 Pro","ＭＳ Ｐ明朝",Times,serif; 
    margin:0 auto; 
    padding:0;}
#container {background:#fff; color:#404040; margin:0 auto; width:760px;}

/* Basic tags */
a {background-color:inherit; color:inherit; text-decoration:none;}
a:hover {background-color:inherit; color:#286ea0; text-decoration:underline;}
a img {border:0;}
p {margin:0 0 1.4em;}
img { border: none;}

#topmenu {
    margin: 0px auto 0px auto;
    padding:0 10px 0 0;
    text-align: right;
    font-size: 0.9em;
    width:760px;
}


/* Header */
#header {height:45px; margin:10px 0 0; padding:0;}
#header h1 {background-color:inherit; color:#505050; float:left; font-size:1.5em; font-weight:800; margin:0 0 10px; width:400px;}
#header h1 a {background-color:inherit; color:#505050; text-decoration:none;}
#header p {float:right; font-weight:500; line-height:1.3em; margin:8px 0 0; text-align:center; width:350px;}


#searchmenu {
    float:left;
    border-bottom: 1px solid #e0e0e0 ;
    border-top: none;
    margin: 10px 0 0;
    padding:0;
    width:760px;
}

#searchmenu a,#searchmenu a:visited {
    text-decoration: none;
}
#searchmenu a:hover {
    text-decoration: underline;
}

#searchmenu p {
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}
#smenu {
    float: left;
    border: 1px none black;
    padding: 2px 2px 2px 2px;
}
#smenu input {
    font-size: 0.9em;
}
#smenu select {
    font-size: 0.9em;
}

/* Main content */
/*#contents {border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; line-height:1.5em; margin:0 150px 5px; padding:0 10px;}
*/
#contents {width:620px;float:top;
  border:1px none #e0e0e0; line-height:1.1em; margin:0 0 5px 130px; padding:0 0 0 10px;}
#contentwide2 {border-right:1px solid #e0e0e0; line-height:1.5em; margin:0 150px 5px 0; padding:0 10px 0 0;}
#contents h2,#contentwide h2,#contentwide2 h2 {font-size:1.6em; margin:0 0 10px;}
#contents h3,#contentwide h3,#contentwide2 h3 {font-size:1.3em; margin:0 0 8px;}
#contents ul,#contentwide ul,#contentwide2 ul,#content ol,#contentwide ol,#contentwide2 ol {margin:0 0 16px 20px; padding:0;}
#contents li,#contentwide li,#contentwide2 li {margin:0; padding:0 0 0 5px;}
#contents ul ul,#contentwide ul ul,#contentwide2 ul ul,#content ol ol,#contentwide ol ol,#contentwide2 ol ol {margin:0 0 0 16px; padding:0;}

#contents div.opt {
    text-align: right;
    font-size: 0.9em;
    vertical-align: middle;
}

#contents div.opt input{
    font-size: 0.9em;
    vertical-align: middle;
}

#contents div.opt label:hover{
    background-color: #f0f0f0;
}


#contents td {
    border-bottom: 1px solid #a0a0a0; 
}
#contents dd {
    text-indent: -2em; 
    margin:0 0px 5px 45px;
}
#contents dt {
    font-weight: bold;
    font-size: 1.2em;
    margin:10px 0px 10px 0px;
}

#contents dl.bibent dd {
    text-indent: 0em; 
    margin:0 0px 1px 25px;    
}

#contents dl.bibent dt {
    font-weight: normal;
    font-size: 1.0em;
    text-indent: 0em; 
    margin:5px 0px 5px 0px;    
}

/*Left and right sidebar */
#viewmenu {
    float:left; 
    margin:0 0 0 0; 
    padding:0 0 0 0;
    width:120px;
}
#viewmenu p,#viewmenu ul {margin:0 0 16px; padding:0;}
#viewmenu p {font-size:0.9em; line-height:1.4em;}
#viewmenu li {line-height:1.2em; list-style:none; margin:0 0 6px; padding:0;}
#viewmenu ul ul {margin:6px 0 0 10px; padding:0;}
#viewmenu ul ul li {margin:0 0 4px;}
#viewmenu ul ul li a {font-weight:400;}
#viewmenu h2,#viewmenu h3 {color:#505050; font-size:1.2em; margin:0 0 8px; padding:0;}

/* Left menu (Menu) */
#viewmenu ul  {display:block; list-style:none; margin:0 0 18px 0; padding:0; width:120px;}
#viewmenu ul li {display:inline; line-height:1.4em; padding:0; width:120px;}
#viewmenu ul li a {background-color:#f4f4f4; border-left:4px solid #ccc; color:#505050; float:left; font-weight:700; margin-bottom:5px; padding:5px 1px 5px 5px; text-decoration:none; width:110px;}
#viewmenu ul li a:hover, #viewmenu ul li a.current {background-color:#eaeaea; border-left:4px solid #286ea0; color:#505050;}
#viewmenu ul ul {font-size:0.9em; margin:0 0 0 15px; padding:0 0 5px; width:105px;}
#viewmenu ul ul a {font-weight:400; padding:3px 1px 3px 5px; width:95px;}
#viewmenu ul ul ul {width:93px;}
#viewmenu ul ul ul a {width:80px;}

/* Footer */
#footer {background:#fff; border-top:2px solid #e0e0e0; clear:both; color:gray; margin:0 auto; padding:10px 0; text-align:center; width:760px; line-height:1.5em; font-size:0.9em;}
#footer p {margin:0; padding:0;}
#footer a {background-color:#fff; color:gray; font-weight:400; text-decoration:none;}
#footer a:hover {text-decoration:underline;}
#footer span {font-size:1.2em;}

/* Additional classes */
.logo {
    float: right;
    position: relative;
}
.left {float:left; margin:3px 10px 2px 0;}
.right {float:right; margin:2px 0 2px 10px;}
.textright {text-align:right; margin:5px 0;}
.center {text-align:center;}
.small {font-size:0.8em;}
.bold {font-weight:700;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 10px;}
.timestamp a {font-weight:400;}
.announce {background-color:#f4f4f4; border-left:4px solid #ccc; clear:left; color:#505050; font-size:0.9em; line-height:1.5em; margin:10px 0 15px; padding:7px 5px 2px 5px; width:126px;}
.announce p {margin:10px 0 0; padding:0;}
.postinfo {background-color:#f4f4f4; border-left:4px solid #ccc; color:#606060; font-size:0.9em; line-height:1.4em; margin:1px 0 20px; padding:8px 5px 8px 8px;}
.clearing {clear:left; margin:0; padding:0; visibility:hidden;}
.hide {display:none;}
.fieldHead_N {
    background-color: #d8a0a0;
}
.fieldHead_A {
    background-color: #d8d8a0;
}
.fieldHead_O {
    background-color: #ffffff;
}
.fieldHead {
    background-color: #ffffff;
}
.red, .red a:link, .red a:visited, .red a:hover {
    color: red;
}